<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @empleado.nombre %>
</p>

<p>
  <strong>Edad:</strong>
  <%= @empleado.edad %>
</p>

<p>
  <strong>Puesto:</strong>
  <%= @empleado.puesto %>
</p>

<p>
  <strong>Salario:</strong>
  <%= @empleado.salario %>
</p>

<%= link_to 'Edit', edit_empleado_path(@empleado) %> |
<%= link_to 'Back', empleados_path %>
